@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --text-color: #546e7a;
  --highlight-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  background: lightgray;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 999;
  border-bottom: 1px solid lightgray;
}

header .logo {
  font-size: 20px;
  margin-left: 2em;
  margin-top: 0px;
}

header .logo a {
  color: var(--highlight-color);
  text-decoration: none;
}

header input {
  display: none;
}

header label {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 2em;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--highlight-color);
  /*   padding:6px 10px; */
  height: 30px;
  width: 40px;


}

header label span,
header label span:before,
header label span:after {
  position: relative;
  height: 2px;
  width: 1.3em;
  background: lightgray;
  display: block;
}

header label span:before,
header label span:after {
  content: "";
  position: absolute;
}

header label span:before {
  top: 7px;
}

header label span:after {
  bottom: 7px;
}

header nav {
  position: absolute;
  width: 100%;
  top: 100%;
  align-self: center;
  text-align: left;
  transform: scale(1, 0);
  transition: transform 500ms ease;
  transform-origin: top;
  background: lightgray;
}

header nav ul {
  list-style: none;
  margin: 4rem;
  padding: 0;
}

header nav ul li {
  margin-bottom: 1em;
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

header nav ul li.active {
  background: #f1f1f1;
  transition: 1s ease-in 500ms;
}

header nav ul li.active a {
  color: var(--highlight-color);
}

header nav ul li a:hover {
  color: var(--highlight-color);
}

header input:checked~nav {
  transform: scale(1, 1);
}

header input:checked~nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 250ms;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url('/Img/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #fff;
  line-height: 3.0;
  text-align: center;
}

.hero-container h1 {
  font-size: 4.8rem;
}

.services-container,
.why-container,
.blog-container,
.contact-container {
  padding: 50px;
}

.services-container {
  background: #f1f1f1;
}

.service-header,
.why-header,
.work-header,
.pricing-header,
.blog-header,
.contact-header {
  text-align: left;
  margin: 1.3em 0;
  padding-bottom: 30px;
}

.service-card-container,
.why-card-container,
.blog-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
}

.service-header h2,
.why-header h2,
.work-header h2,
.pricing-header h2,
.blog-header h2,
.contact-header h2 {
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-cards {
  text-align: left;
  padding: 30px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.why-cards {
  display: flex;
  padding: 10px;
}

.why-cards i {
  color: var(--highlight-color);
  font-size: 2em;
}

.why-cards h3 {
  color: var(--text-color);
  margin-bottom: 10px;
}

.why-cards .why-card-content {
  margin-left: 1.5em;
}

.service-cards:hover {
  border: none;
  box-shadow: 10px 10px 15px #bdb9b9;
  transition: 200ms ease-in-out;
}

.service-cards:hover i {
  background: none;
}

.service-cards i {
  background: red;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5em;
  transition: background 500ms ease-in-out;
}

.service-cards h3 {
  margin: .5em 0;
  font-weight: 600;
}

.service-header p,
.service-cards p,
.why-header p,
.why-cards p,
.pricing-header p,
.blog-header p,
.contact-header p {
  line-height: 1.5;
  color: var(--text-color);
  font-size: 14px;
}

.service-cards .fa-pencil-alt {
  color: rgb(220, 20, 60);
  background: rgba(220, 20, 60, .2);
}

.service-cards .fa-cog {
  color: rgb(63, 195, 128);
  background: rgba(63, 195, 128, .2);
}

.service-cards .fa-chart-bar {
  color: rgb(1, 50, 67);
  background: rgba(1, 50, 67, .2);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content:hover .gallery-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 2.4rem;
}

.fadeIn-bottom {
  top: 80%;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 40rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 4px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}
.popup-btn {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    padding: 1rem 2rem;
    cursor: pointer;
}


.work-container {
  padding: 40px;
  background: #f1f1f1;
}

.work-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.work-header a{
  justify-items: flex-end;
  align-self: center;
}

.work-header .popup-btn {
  color: white;
  background: black;
}
.popup-btn:hover {
  color: black;
  background: grey;
}

.work-image-container {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.work-image-card {
  overflow: hidden;
  border: 2px solid #fff;
  position: relative;
}

.image-over-content {
 
  /* background:rgba(0,0,0,.5); */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  
  transition: all 500ms ease-in-out 200ms;
}

.image-over-content i,
.image-over-content p {
  font-size: 1.2em;
}

.work-image-card img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  transition: 1s ease-in-out;
}

.work-image-card:hover img {
  transform: scale(1.4);
}

.work-image-card:hover .image-over-content {
  opacity: 1;
  background: rgba(0, 0, 0, .3);
}


.stats-container {
  background: var(--highlight-color);
  padding: 50px 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  justify-content: space-evenly;
  align-content: center;
  color: #fff;
}

.stat-card {
  border: 1.5px solid #fff;
  border-radius: .4rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stat-card i {
  font-size: 2em;
}

.stat-card h1 {
  margin: 10px 0;
}

.subscribe-container {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)),
    url('Img/ivan-bandura-kNkBBR1U1YQ-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 50px;
}

.sub-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  grid-gap: 20px;
  border-radius: .4rem;
}

.sub-card-content {
  display: flex;
  padding: 20px;
  background: #fff;
}

.sub-card-content i {
  font-size: 2em;
  color: var(--highlight-color);
}

.sub-card {
  margin-left: 1em;
  color: var(--text-color);
}

.sub-card h5 {
  margin-bottom: 10px;
  font-size: 1em;
}

.sub-card p {
  line-height: 1.5;
}

.blog-card {
  box-shadow: 5px 5px 5px #bdb9b9;
}

.blog-card:hover {
  box-shadow: 10px 10px 15px #bdb9b9;
}

.blog-card-image img {
  width: 100%;
  height: 100%;
}

.blog-card-content {
  padding: 20px;
}

.blog-card .date {
  color: var(--text-color);
}

.blog-card-content a {
  text-decoration: none;
  color: var(--text-color);
}

.blog-card-content h3 {
  margin: 10px 0;
}

.meta-tags span {
  color: var(--text-color);
  margin-right: 10px;
}

.meta-tags span:hover,
.blog-card-content a:hover {
  color: var(--highlight-color);
}

.contact-container {
  min-height: 60vh;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.contact-form form input {
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  border: 1px solid var(--highlight-color);
  outline: none;
}

.contact-form form textarea {
  background: #f1f1f1;
  margin: 10px 0;
  border: none;
  padding: 10px;
}

.contact-form form .btn {
  background: var(--highlight-color);
  color: #fff;
  border-radius: 10px;
  border: none;
  align-self: flex-start;
  padding: 1rem;
  
}
.email-phone{
  display: flex;
  flex-direction: row;
}
.contact-email {
  padding-right: 2rem;
}
.contact-location i,
.contact-email i,
.contact-phone i {
  color: var(--highlight-color);
  font-size: 1.5em;
}

.contact-location h5,
.contact-email h5,
.contact-phone h5 {
  font-size: 19px;
  margin: 10px 0;
}

.contact-location p,
.contact-email p,
.contact-phone p {
  color: var(--text-color);
  padding-bottom: 1rem;
}

.contact-address>div {
  margin-top: 1em;
}

.contact-social-links {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
}

.contact-social-links i {
  color: #fff;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: var(--highlight-color);
  border-radius: 10px;
}

.contact-social-links a {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}

.contact-social-links a:hover .fa-facebook-f {
  background: #3b5998;
}

.contact-social-links a:hover .fa-twitter {
  background: #55acee;
}

.contact-social-links a:hover .fa-instagram {
  background: #517fa4;
}

.contact-social-links a:hover .fa-google-plus-g {
  background: #dc4e41;
}

iframe {
  height: 60%;

}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-left: 3rem;
}
@media (min-width:768px) {
  .contact-form-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
  }

  .pricing-card:nth-child(2) {
    transform: scale(1.1);
  }

  header input,
  header label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 50px 200px 1fr 50px;
    align-content: center;
    height: 70px;
  }

  header .logo {
    grid-column: 2/3;
    margin: 0;
  }

  header nav {
    position: static;
    transform: none;
    transition: none;
    grid-column: 3/4;
  }

  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  header nav ul li {
    margin: 0;
    padding: 0;
  }

  header nav ul li a {
    opacity: 1;
  }

  header nav ul li.active {
    background: none;
    transition: none;
  }
}
  @media (min-width:992px) {
    .subscribe-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }
  }

  @media (max-width:992px) {
    .subscribe-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
    .contact-container {
      min-height: 60vh;
    }
    .contact-form-container {
      display: flex;
      flex-direction: column;
    }
    .contact-form form input {
      padding: 2rem;
      font-size: 1.4rem;
    }
    .contact-form form textarea {
      padding: 2rem;
      font-size: 1.4rem;
    }
    .email-phone{
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width:1200px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      background-color: lightgray;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
    }

    header nav ul li {
      margin-right: 5rem;

    }
  }
